<!DOCTYPE html>
<html>
<body>
	<h1> List of Devices </h1>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Lat</th>
			<th>Long</th>
		</tr>
		<% @devices.each do |device| %>
			<tr>
				<td><%= device.name %>  </td>
				<td><%= device.lat %>   </td>
				<td><%= device.long %>  </td>
				<td><%= link_to "Show Me", device_path(device) %></td>
			</tr>
		<% end %>
	</table>
</body> 
<p> Hello </p>